<html>

<head>
    <script src="app.js"></script>
</head>

<body>

    <h1>Hello {{name}}</h1>

    <p>Select your username: </p>
    <input id='username' oninput='checkUsernameAvailability()' type='text'>
    
    <div id="message"></div>

</body>

</html>